@font-face {
    font-family: 'Goonies';
    src: url('/fonts/Goonies.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    color: grey;
    font-family: Arial, sans-serif;
    /* Optional: Set a default font */
    margin: 0;
    /* Remove default body margin */
    padding: 0;
    /* Remove default body padding */
}

a {
    text-decoration: none;
    font-weight: bold;
    color: darkgray;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: underline;
    font-weight: bold;
    color: white;
    /* Keeps the underline when hovering or when the link is active */
}

nav {
    font-family: 'Goonies', sans-serif;
    border-bottom: 1px solid darkgrey;
    padding-left: 4px;
    padding-right: 4px;
}

header {
    font-size: 24px;
    color: #fff;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: cornflowerblue;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    /* padding: 0 3px; */
    padding: 4px;
}

.social ul {
    list-style-type: none;
    padding-left: 0;
}
.social {
    display: inline-block;
}

.center {
    text-align: center;
}

.goonie {
    font-family: 'Goonies', sans-serif;
}

.logo {
    font-family: 'Goonies', sans-serif;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hover-image {
    border: 8px solid transparent;
    /* Initially, no border is visible */
    transition: border 0.3s ease;
    /* Smooth transition effect */
}

a:hover .hover-image {
    border: 8px solid cornflowerblue;
    /* Highlight border on hover (e.g., yellow) */
}